extends base.pug

block content 
    h4 Change title of video
    form(method="post")
        input(placeHolder="Video title", value = video.title,required)
        input(value="save", type = "submit")